<div *ngIf="productoActual" class="edit-form">
  <h4>Producto</h4>
  <form>
    <div class="form-group">
      <label for="title">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="productoActual.nombre"
        name="title"
      />
    </div>
    <div class="form-group">
      <label for="description">Descripcion</label>
      <input
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="productoActual.descripcion"
        name="description"
      />
    </div>

    <div class="form-group">
      <label><strong>Estado:</strong></label>
      {{ productoActual.publicado ? "Publicado" : "Pendiente" }}
    </div>
  </form>

  <button
    class="badge badge-primary mr-2"
    *ngIf="productoActual.publicado"
    (click)="updatePublished(false)"
  >
    No Publicar
  </button>
  <button
    *ngIf="!productoActual.publicado"
    class="badge badge-primary mr-2"
    (click)="updatePublished(true)"
  >
    Publicar
  </button>

  <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
    Eliminar
  </button>

  <button type="submit" class="badge badge-success" (click)="updateTutorial()">
    Actualizar
  </button>
  <p>{{ message }}</p>
</div>


<div *ngIf="!productoActual">
  <br />
  <p>No se puede acceder a este producto</p>
</div>
