<div class="submit-form">
  <div *ngIf="!submitted">
    <select [(ngModel)]="opcionSeleccionada">
      <option value="opcion1">Producto</option>
      <option value="opcion2">Bebida</option>
      <option value="opcion3">Fruta</option>
    </select>

<div *ngIf="opcionSeleccionada=== 'opcion1'">
    <div class="form-group">
      <label for="nombre">Nombre del Producto</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        required
        [(ngModel)]="producto.nombre"
        name="nombre"
      />
    </div>

    <div class="form-group">
      <label for="descripcion">Descripcion del Producto</label>
      <input
        class="form-control"
        id="descripcion"
        required
        [(ngModel)]="producto.descripcion"
        name="descripcion"
      />
    </div>
  </div>



<div *ngIf="opcionSeleccionada === 'opcion2'">
  <div class="form-group">
    <label for="marca">Marca de la Bebida</label>
    <input
      type="text"
      class="form-control"
      id="marca"
      required
      [(ngModel)]="bebida.marca"
      name="marca"
    />
  </div>

    <div class="form-group">
      <label for="gaseosa">La bebida es gaseosa?</label>
      <input
        type="checkbox"
        class="form-control"
        id="gaseosa"
        required
        [(ngModel)]="bebida.gaseosa"
        name="gaseosa"
      />
    </div>

</div>

<div *ngIf="opcionSeleccionada === 'opcion3'">

  <div class="form-group">
    <label for="Nombre">Nombre de la fruta</label>
    <input
      type="text"
      class="form-control"
      id="nombre"
      required
      [(ngModel)]="fruta.nombre"
      name="nombre"
    />
  </div>

  <div class="form-group">
    <label for="Tipo">Tipo de Fruta</label>
    <input
      type="text"
      class="form-control"
      id="tipo"
      required
      [(ngModel)]="fruta.tipo"
      name="tipo"
    />
  </div>
</div>
  <button (click)="saveTutorial()" class="btn btn-success">Añadir producto</button>
</div>
</div>

    <div *ngIf="submitted">
      <h4>Has enviado correctamente el producto!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Añadir otro producto</button>
    </div>



